<p><font size=5 color="#210F6E"><em><u><center>Python pandas's use cases presentation</center></u></em></font><p>
<br>
<p><font face="Gill Sans" color="#261D7A" size="3.2">We start by importing the necessary libraries to study the data. <br>
We will then create a dataframe and display the number of columns and rows.</font></p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

df = pd.DataFrame({
    'Firstname': ['Mesut','Jack', 'Chuba','Aaron', 'Per', 'Olivier', 'Shkodran'],
    'Country': ['Germany','England', 'England','Wales', 'Germany', 'France', 'Germany'],
    'Post': ['Midfielder','Midfielder', 'Forward','Midfielder', 'Defender', 'Striker', 'Defender'],
    'Age':[27, 26, 20, 26, 32, 29, 24],
    'Goals':[10, 0, 6, 2, 0, 7, 1],
    'Assists': np.random.randint(0, 7, size=7) #len(df)
})

df = df[['Firstname', 'Country', 'Age', 'Goals', 'Assists', 'Post']]
df.shape

(7, 6)

<font face="Gill Sans" color="#261D7A" size="3.2">Then, we show the name of our columns and we display the beginning, the end and the step of our indexes.</font>

In [2]:
df.columns

Index(['Firstname', 'Country', 'Age', 'Goals', 'Assists', 'Post'], dtype='object')

In [3]:
df.index

RangeIndex(start=0, stop=7, step=1)

<font face="Gill Sans" color="#261D7A" size="3.2">Classify players from the youngest to the oldest and in alphabetical order in case of equality.</font>

In [4]:
df.sort_values(by = ['Age', 'Firstname'])

  Firstname  Country  Age  Goals  Assists        Post
2     Chuba  England   20      6        1     Forward
6  Shkodran  Germany   24      1        0    Defender
3     Aaron    Wales   26      2        5  Midfielder
1      Jack  England   26      0        1  Midfielder
0     Mesut  Germany   27     10        5  Midfielder
5   Olivier   France   29      7        2     Striker
4       Per  Germany   32      0        5    Defender

<font face="Gill Sans" color="#261D7A" size="3.2">Ranking players over 26 from the oldest to the youngest.</font>

In [5]:
df.loc[df.Age > 26].sort_values(by = ['Age'], ascending=[False])

  Firstname  Country  Age  Goals  Assists        Post
4       Per  Germany   32      0        5    Defender
5   Olivier   France   29      7        2     Striker
0     Mesut  Germany   27     10        5  Midfielder

<font face="Gill Sans" color="#261D7A" size="3.2">Add a last line with the information entered as parameters.</font>

In [6]:
df.loc[len(df)] = ["Koscielny", "France", 31, 2, 1, 'Defender']
df

   Firstname  Country  Age  Goals  Assists        Post
0      Mesut  Germany   27     10        5  Midfielder
1       Jack  England   26      0        1  Midfielder
2      Chuba  England   20      6        1     Forward
3      Aaron    Wales   26      2        5  Midfielder
4        Per  Germany   32      0        5    Defender
5    Olivier   France   29      7        2     Striker
6   Shkodran  Germany   24      1        0    Defender
7  Koscielny   France   31      2        1    Defender

<font face="Gill Sans" color="#261D7A" size="3.2">Insert a line at the end of the dataframe by omitting some values.</font>

In [7]:
df = df.append(dict(Firstname='Sanchez', Goals=17), ignore_index=True)
df

   Firstname  Country   Age  Goals  Assists        Post
0      Mesut  Germany  27.0     10      5.0  Midfielder
1       Jack  England  26.0      0      1.0  Midfielder
2      Chuba  England  20.0      6      1.0     Forward
3      Aaron    Wales  26.0      2      5.0  Midfielder
4        Per  Germany  32.0      0      5.0    Defender
5    Olivier   France  29.0      7      2.0     Striker
6   Shkodran  Germany  24.0      1      0.0    Defender
7  Koscielny   France  31.0      2      1.0    Defender
8    Sanchez      NaN   NaN     17      NaN         NaN

<font face="Gill Sans" color="#261D7A" size="3.2">We know the Sanchez's number of assists and his post so we add these missing values.</font>

In [8]:
df.loc[df.Firstname == "Sanchez", 'Assists'] = 12 
df.loc[df.Firstname == "Sanchez", 'Post'] = 'Striker'
df.loc[df.Firstname == "Sanchez", 'Country'] = 'Chili'
df

   Firstname  Country   Age  Goals  Assists        Post
0      Mesut  Germany  27.0     10      5.0  Midfielder
1       Jack  England  26.0      0      1.0  Midfielder
2      Chuba  England  20.0      6      1.0     Forward
3      Aaron    Wales  26.0      2      5.0  Midfielder
4        Per  Germany  32.0      0      5.0    Defender
5    Olivier   France  29.0      7      2.0     Striker
6   Shkodran  Germany  24.0      1      0.0    Defender
7  Koscielny   France  31.0      2      1.0    Defender
8    Sanchez    Chili   NaN     17     12.0     Striker

<font face="Gill Sans" color="#261D7A" size="3.2">As we do not know Sanchez's age it will be said that his age equals the average age of his team.</font>

In [9]:
df.loc[df.Firstname == "Sanchez", 'Age'] = round(np.mean(df.Age))
df

   Firstname  Country   Age  Goals  Assists        Post
0      Mesut  Germany  27.0     10      5.0  Midfielder
1       Jack  England  26.0      0      1.0  Midfielder
2      Chuba  England  20.0      6      1.0     Forward
3      Aaron    Wales  26.0      2      5.0  Midfielder
4        Per  Germany  32.0      0      5.0    Defender
5    Olivier   France  29.0      7      2.0     Striker
6   Shkodran  Germany  24.0      1      0.0    Defender
7  Koscielny   France  31.0      2      1.0    Defender
8    Sanchez    Chili  27.0     17     12.0     Striker

<font face="Gill Sans" color="#261D7A" size="3.2">Fonction apply in order to determine the bad/mean/good strikers.</font>

In [10]:
def good_striker(df):
  goals = df.Goals
  if goals < 5:
    return 0
  if goals < 15:
    return 1
  else:
    return 2
        
df["Striker"] = df.apply(good_striker, axis=1)
df

   Firstname  Country   Age  Goals  Assists        Post  Striker
0      Mesut  Germany  27.0     10      5.0  Midfielder        1
1       Jack  England  26.0      0      1.0  Midfielder        0
2      Chuba  England  20.0      6      1.0     Forward        1
3      Aaron    Wales  26.0      2      5.0  Midfielder        0
4        Per  Germany  32.0      0      5.0    Defender        0
5    Olivier   France  29.0      7      2.0     Striker        1
6   Shkodran  Germany  24.0      1      0.0    Defender        0
7  Koscielny   France  31.0      2      1.0    Defender        0
8    Sanchez    Chili  27.0     17     12.0     Striker        2

<font face="Gill Sans" color="#261D7A" size="3.2">Highlighting the best attackers with a renaming of players's post.</font>

In [11]:
df.loc[df.Post.str.contains('rik', na=False) & (df.Striker == 2), "Post"] = "SuperStriker"
df

   Firstname  Country   Age  Goals  Assists          Post  Striker
0      Mesut  Germany  27.0     10      5.0    Midfielder        1
1       Jack  England  26.0      0      1.0    Midfielder        0
2      Chuba  England  20.0      6      1.0       Forward        1
3      Aaron    Wales  26.0      2      5.0    Midfielder        0
4        Per  Germany  32.0      0      5.0      Defender        0
5    Olivier   France  29.0      7      2.0       Striker        1
6   Shkodran  Germany  24.0      1      0.0      Defender        0
7  Koscielny   France  31.0      2      1.0      Defender        0
8    Sanchez    Chili  27.0     17     12.0  SuperStriker        2

<font face="Gill Sans" color="#261D7A" size="3.2">Renaming Post column to SpecificPost.</font>

In [12]:
df = df.rename(columns={'Post':'SpecificPost'})
df

   Firstname  Country   Age  Goals  Assists  SpecificPost  Striker
0      Mesut  Germany  27.0     10      5.0    Midfielder        1
1       Jack  England  26.0      0      1.0    Midfielder        0
2      Chuba  England  20.0      6      1.0       Forward        1
3      Aaron    Wales  26.0      2      5.0    Midfielder        0
4        Per  Germany  32.0      0      5.0      Defender        0
5    Olivier   France  29.0      7      2.0       Striker        1
6   Shkodran  Germany  24.0      1      0.0      Defender        0
7  Koscielny   France  31.0      2      1.0      Defender        0
8    Sanchez    Chili  27.0     17     12.0  SuperStriker        2

<font face="Gill Sans" color="#261D7A" size="3.2">Equivalent to the 'table' function in R, 'value_counts' is here useful to know what kind of posts are available here.</font>

In [13]:
df.SpecificPost.value_counts()

Defender        3
Midfielder      3
Forward         1
Striker         1
SuperStriker    1
Name: SpecificPost, dtype: int64

In [14]:
df.SpecificPost.value_counts().to_dict()

{'Defender': 3, 'Forward': 1, 'Midfielder': 3, 'Striker': 1, 'SuperStriker': 1}

In [15]:
len(df)

9

<font face="Gill Sans" color="#261D7A" size="3.2">Now we want to know which players might be a good deal.</font>

In [16]:
df['GoodDeal'] = np.where(16-df.Age + (df.Goals+df.Assists) > 1, 'Yes', 'No')
df.loc[df.GoodDeal == 'Yes']

  Firstname  Country   Age  Goals  Assists  SpecificPost  Striker GoodDeal
0     Mesut  Germany  27.0     10      5.0    Midfielder        1      Yes
2     Chuba  England  20.0      6      1.0       Forward        1      Yes
8   Sanchez    Chili  27.0     17     12.0  SuperStriker        2      Yes

<font face="Gill Sans" color="#261D7A" size="3.2">We will convert float to integer, thing which is logic for ages, assists and goals notions for example.</font>

In [17]:
pd.options.display.float_format = '{:,.0f}'.format
df

   Firstname  Country  Age  Goals  Assists  SpecificPost  Striker GoodDeal
0      Mesut  Germany   27     10        5    Midfielder        1      Yes
1       Jack  England   26      0        1    Midfielder        0       No
2      Chuba  England   20      6        1       Forward        1      Yes
3      Aaron    Wales   26      2        5    Midfielder        0       No
4        Per  Germany   32      0        5      Defender        0       No
5    Olivier   France   29      7        2       Striker        1       No
6   Shkodran  Germany   24      1        0      Defender        0       No
7  Koscielny   France   31      2        1      Defender        0       No
8    Sanchez    Chili   27     17       12  SuperStriker        2      Yes

<font face="Gill Sans" color="#261D7A" size="3.2">Now we want to know the price of the players being 'good deal'.<br>
The prices will change depending on when the application is launched since the assists are generated randomly.</font>

In [18]:
def price(df):
  age = df.Age
  goals = df.Goals
  assists = df.Assists
  price=2000000

  #AGE
  for i in range(16, int(age)): price -= 1000000
  #GOALS
  if goals>10: price+=5000000
  if goals>15: price+=10000000
  if goals>20: price+=15000000
  if goals>25: price+=10000000
  if goals>30: price+=20000000
  if goals>30: price+=40000000
  for j in range(int(goals)): price += 500000
  #ASSISTS      
  if assists>5: price+=2000000
  if assists>7: price+=6000000;
  if assists>15: price+=20000000;
  if assists>25: price+=20000000
  for k in range(int(assists)): price+=500000
  #FINAL PRICE
  if price<0: price=0
  return round(price/1000000)

df.loc[:, 'Price(M)'] = 0
df.loc[df.GoodDeal == 'Yes', 'Price(M)'] = df.apply(price, axis=1)
df

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M)
0,Mesut,Germany,27,10,5,Midfielder,1,Yes,0
1,Jack,England,26,0,1,Midfielder,0,No,0
2,Chuba,England,20,6,1,Forward,1,Yes,2
3,Aaron,Wales,26,2,5,Midfielder,0,No,0
4,Per,Germany,32,0,5,Defender,0,No,0
5,Olivier,France,29,7,2,Striker,1,No,0
6,Shkodran,Germany,24,1,0,Defender,0,No,0
7,Koscielny,France,31,2,1,Defender,0,No,0
8,Sanchez,Chili,27,17,12,SuperStriker,2,Yes,28

<font face="Gill Sans" color="#261D7A" size="3.2">
Now we will learn to work with different filters.<br>
Let's first begin by the group by introspection.
</font>

In [19]:
df.groupby('SpecificPost').count()

,Firstname,Country,Age,Goals,Assists,Striker,GoodDeal,Price(M)
SpecificPost,,,,,,,,
Defender,3,3,3,3,3,3,3,3
Forward,1,1,1,1,1,1,1,1
Midfielder,3,3,3,3,3,3,3,3
Striker,1,1,1,1,1,1,1,1
SuperStriker,1,1,1,1,1,1,1,1

<font face="Gill Sans" color="#261D7A" size="3.2">
We can display every player having a number of assists impair and playing defender or striker.
</font>

In [20]:
df.loc[df.Assists%2 == 1].loc[df.loc[:, 'SpecificPost'].isin(['Defender', 'Striker']), :]

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M)
4,Per,Germany,32,0,5,Defender,0,No,0
7,Koscielny,France,31,2,1,Defender,0,No,0

<font face="Gill Sans" color="#261D7A" size="3.2">
Display object and bool columns.
</font>

In [21]:
df.select_dtypes(include=['object', 'bool'])

   Firstname  Country  SpecificPost GoodDeal
0      Mesut  Germany    Midfielder      Yes
1       Jack  England    Midfielder       No
2      Chuba  England       Forward      Yes
3      Aaron    Wales    Midfielder       No
4        Per  Germany      Defender       No
5    Olivier   France       Striker       No
6   Shkodran  Germany      Defender       No
7  Koscielny   France      Defender       No
8    Sanchez    Chili  SuperStriker      Yes

<font face="Gill Sans" color="#261D7A" size="3.2">
Display numerics columns.
</font>

In [22]:
df._get_numeric_data()

#same as:
# df.select_dtypes(['int', 'float'])

   Age  Goals  Assists  Striker  Price(M)
0   27     10        5        1         0
1   26      0        1        0         0
2   20      6        1        1         2
3   26      2        5        0         0
4   32      0        5        0         0
5   29      7        2        1         0
6   24      1        0        0         0
7   31      2        1        0         0
8   27     17       12        2        28

<font face="Gill Sans" color="#261D7A" size="3.2">
From the group by query we can choose to select only a part of the result. Here it will be the midfielders.
</font>

In [23]:
df.groupby('SpecificPost').get_group('Midfielder')

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M)
0,Mesut,Germany,27,10,5,Midfielder,1,Yes,0
1,Jack,England,26,0,1,Midfielder,0,No,0
3,Aaron,Wales,26,2,5,Midfielder,0,No,0

<font face="Gill Sans" color="#261D7A" size="3.2">
Display every mean columns of defenders by their countries which have to be France or Germany.
</font>

In [24]:
df.groupby('SpecificPost').get_group('Defender').loc[df.loc[:, 'Country'].isin(['France', 'Germany']), :].groupby('Country').mean()

         Age  Goals  Assists  Striker  Price(M)
Country
France    31      2        1        0         0
Germany   28      0        2        0         0

<font face="Gill Sans" color="#261D7A" size="3.2">
Group by two columns is also possible. <br>
Here we choose to group by SpecificPost and then GoodDeal and display every mean results.
</font>

In [25]:
df.groupby(['SpecificPost', 'GoodDeal']).mean()

                       Age  Goals  Assists  Striker  Price(M)
SpecificPost GoodDeal
Defender     No         29      1        2        0         0
Forward      Yes        20      6        1        1         2
Midfielder   No         26      1        3        0         0
             Yes        27     10        5        1         0
Striker      No         29      7        2        1         0
SuperStriker Yes        27     17       12        2        28

<font face="Gill Sans" color="#261D7A" size="3.2">
Same thing than above but this time we juste displaying midfielders.
</font>

In [26]:
df.loc[df.SpecificPost == 'Midfielder', :].groupby(['SpecificPost', 'GoodDeal']).mean()

                       Age  Goals  Assists  Striker  Price(M)
SpecificPost GoodDeal
Midfielder   No         26      1        3        0         0
             Yes        27     10        5        1         0

<font face="Gill Sans" color="#261D7A" size="3.2">
Let's have an introduction to get_dummies function.
</font>

In [27]:
CountryDeal = df[["Country", "GoodDeal"]]
pd.get_dummies(CountryDeal)

,Country_Chili,Country_England,Country_France,Country_Germany,Country_Wales,GoodDeal_No,GoodDeal_Yes
0,0,0,0,1,0,0,1
1,0,1,0,0,0,1,0
2,0,1,0,0,0,0,1
3,0,0,0,0,1,1,0
4,0,0,0,1,0,1,0
5,0,0,1,0,0,1,0
6,0,0,0,1,0,1,0
7,0,0,1,0,0,1,0
8,1,0,0,0,0,0,1

<font face="Gill Sans" color="#261D7A" size="3.2">
You can change index name using the set_index function.
</font>

In [28]:
CountryDeal = CountryDeal.set_index(df["Firstname"])
pd.get_dummies(CountryDeal)

,Country_Chili,Country_England,Country_France,Country_Germany,Country_Wales,GoodDeal_No,GoodDeal_Yes
Firstname,,,,,,,
Mesut,0,0,0,1,0,0,1
Jack,0,1,0,0,0,1,0
Chuba,0,1,0,0,0,0,1
Aaron,0,0,0,0,1,1,0
Per,0,0,0,1,0,1,0
Olivier,0,0,1,0,0,1,0
Shkodran,0,0,0,1,0,1,0
Koscielny,0,0,1,0,0,1,0
Sanchez,1,0,0,0,0,0,1

<font face="Gill Sans" color="#261D7A" size="3.2">
Introduction to the crosstab function. <br>
We display here every post by countries
</font>

In [29]:
pd.crosstab(index=df['SpecificPost'], columns=df['Country'])

Country       Chili  England  France  Germany  Wales
SpecificPost
Defender          0        0       1        2      0
Forward           0        1       0        0      0
Midfielder        0        1       0        1      1
Striker           0        0       1        0      0
SuperStriker      1        0       0        0      0

<font face="Gill Sans" color="#261D7A" size="3.2">
We can also make opeartion on columns.<br>
Here we display the sum and the mean of the column Age groupe by SpecificPost
</font>

In [30]:
group = df.groupby('SpecificPost')
group['Age'].agg({'Sum': np.sum,
                     'Mean': np.mean})

              Sum  Mean
SpecificPost
Defender       87    29
Forward        20    20
Midfielder     79    26
Striker        29    29
SuperStriker   27    27

<font face="Gill Sans" color="#261D7A" size="3.2">
We can do almost the same thing differently.
</font>

In [31]:
group.agg({'Goals': np.sum, 
           'Age': lambda x: np.mean(x)})

              Age  Goals
SpecificPost
Defender       29      3
Forward        20      6
Midfielder     26     12
Striker        29      7
SuperStriker   27     17

<font face="Gill Sans" color="#261D7A" size="3.2">
And also add a group by filter to those operations.
</font>

In [32]:
np.round(df.groupby(['SpecificPost', 'Country']).Assists.agg({'Sum':'sum', 'Mean': 'mean'}),1)

                      Sum  Mean
SpecificPost Country
Defender     France     1     1
             Germany    5     2
Forward      England    1     1
Midfielder   England    1     1
             Germany    5     5
             Wales      5     5
Striker      France     2     2
SuperStriker Chili     12    12

<font face="Gill Sans" color="#261D7A" size="3.2">
Finally, you can display a lot of operations on the group by filter you will choose.
</font>

In [33]:
df.groupby(['SpecificPost', 'Country']).agg([np.mean, np.sum, np.std])

                      Age         Goals         Assists         Striker      \
                     mean sum std  mean sum std    mean sum std    mean sum
SpecificPost Country
Defender     France    31  31 nan     2   2 nan       1   1 nan       0   0
             Germany   28  56   6     0   1   1       2   5   4       0   0
Forward      England   20  20 nan     6   6 nan       1   1 nan       1   1
Midfielder   England   26  26 nan     0   0 nan       1   1 nan       0   0
             Germany   27  27 nan    10  10 nan       5   5 nan       1   1
             Wales     26  26 nan     2   2 nan       5   5 nan       0   0
Striker      France    29  29 nan     7   7 nan       2   2 nan       1   1
SuperStriker Chili     27  27 nan    17  17 nan      12  12 nan       2   2

                         Price(M)
                     std     mean sum std
SpecificPost Country
Defender     France  nan        0   0 nan
             Germany   0        0   0   0
Forward      England nan        2   2 nan
Midfielder   England nan        0   0 nan
             Germany nan        0   0 nan
             Wales   nan        0   0 nan
Striker      France  nan        0   0 nan
SuperStriker Chili   nan       28  28 nan

<font face="Gill Sans" color="#261D7A" size="3.2">
It is also possible to merge two or more dataframes by an id columns. <br>
In our case, we wil choose the Country column as our id.
</font>

In [34]:
raw_data = {'Country': ['France', 'Germany', 'England'],
            'Capital': ['Paris', 'Berlin', 'London'],
            'Coupe du monde': [1, 3, 1]}
df1 = pd.DataFrame(raw_data, columns = ['Country', 'Capital', 'Coupe du monde'])
print(df1)

pd.merge(df, df1, on='Country') #Par défaut how='inner'

   Country Capital  Coupe du monde
0   France   Paris               1
1  Germany  Berlin               3
2  England  London               1

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M),Capital,Coupe du monde
0,Mesut,Germany,27,10,5,Midfielder,1,Yes,0,Berlin,3
1,Per,Germany,32,0,5,Defender,0,No,0,Berlin,3
2,Shkodran,Germany,24,1,0,Defender,0,No,0,Berlin,3
3,Jack,England,26,0,1,Midfielder,0,No,0,London,1
4,Chuba,England,20,6,1,Forward,1,Yes,2,London,1
5,Olivier,France,29,7,2,Striker,1,No,0,Paris,1
6,Koscielny,France,31,2,1,Defender,0,No,0,Paris,1

<font face="Gill Sans" color="#261D7A" size="3.2">
As we can see in sql language, we can join two tables using leff, right, inner our outer condition.<br>
Knowing that without specify the 'how' argument, the default condition will be inner.<br>
<br>
LEFT
</font>

In [35]:
pd.merge(df, df1, on='Country', how='left')

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M),Capital,Coupe du monde
0,Mesut,Germany,27,10,5,Midfielder,1,Yes,0,Berlin,3
1,Jack,England,26,0,1,Midfielder,0,No,0,London,1
2,Chuba,England,20,6,1,Forward,1,Yes,2,London,1
3,Aaron,Wales,26,2,5,Midfielder,0,No,0,NaN,nan
4,Per,Germany,32,0,5,Defender,0,No,0,Berlin,3
5,Olivier,France,29,7,2,Striker,1,No,0,Paris,1
6,Shkodran,Germany,24,1,0,Defender,0,No,0,Berlin,3
7,Koscielny,France,31,2,1,Defender,0,No,0,Paris,1
8,Sanchez,Chili,27,17,12,SuperStriker,2,Yes,28,NaN,nan

<font face="Gill Sans" color="#261D7A" size="3.2">
OUTER
</font>

In [36]:
pd.merge(df, df1, on='Country', how='outer')

,Firstname,Country,Age,Goals,Assists,SpecificPost,Striker,GoodDeal,Price(M),Capital,Coupe du monde
0,Mesut,Germany,27,10,5,Midfielder,1,Yes,0,Berlin,3
1,Per,Germany,32,0,5,Defender,0,No,0,Berlin,3
2,Shkodran,Germany,24,1,0,Defender,0,No,0,Berlin,3
3,Jack,England,26,0,1,Midfielder,0,No,0,London,1
4,Chuba,England,20,6,1,Forward,1,Yes,2,London,1
5,Aaron,Wales,26,2,5,Midfielder,0,No,0,NaN,nan
6,Olivier,France,29,7,2,Striker,1,No,0,Paris,1
7,Koscielny,France,31,2,1,Defender,0,No,0,Paris,1
8,Sanchez,Chili,27,17,12,SuperStriker,2,Yes,28,NaN,nan

<font face="Gill Sans" color="#261D7A" size="3.2">Thank you ! The app to apprehend pandas is now over !</font>